nav {
  line-height: 50px;
  background: gold;
  text-align: center;
}

nav a {
  margin: 15px;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

nav a:hover {
  color: white;
}

/* Form page */
  h1 {
      margin: 15px;
  }
  
form {
    margin: 15px;
    max-width: 600px;
}

input,
button {
    display: block;
    margin: 15px 0;
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    box-sizing: border-box;
}

img {
  max-width: 245px;
  max-height: 245px;
}