@import "variables";

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .product {
    border: 1px solid $grey;
    width: 250px;
    text-align: center;
    padding: 15px;
    margin: 15px;
  }
  
  .price {
    color: crimson;
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
  }
  
  button {
    padding: 10px 15px;
    background: none;
    border: 1px solid $grey;
  }
  
  button:hover {
    background: $grey;
  }
  